*{
    font-family: 'Open Sans', sans-serif;
   
}
.body{
    margin: auto;
}
/* nav & header style */
.header{
    background: rgba(255, 144, 14, 0.1);
    border-radius: 5px;
   padding-bottom: 57px;
   margin-bottom: 73px;
}
.navbar{
    display: flex;
    justify-content: space-around;
}
.nav-item ul {
list-style: none;
display: flex;
justify-content: space-evenly;

}
li{
    padding-left: 30px;
}

/* banner style*/
.banner{
    display: flex;
    flex-direction: column;
    align-items: center;
}
.banner-intro{
    width: 600px;
    text-align: center;

}

.banner-title{
    font-size: 64px;
}
.btn-explore{
    margin-bottom: 20px;
    padding: 10px 20px;
    background-color: rgb(248, 147, 32);
    border: 0;
    border-radius: 5px;
}
.banner img{
    width: 862px;
}

/* Our features section */
.article{
    
    display: grid;
    grid-template-columns: repeat(2,1fr);
    grid-column-gap: 30px;
    align-items: center;
    margin: 30px 100px;

}
.team{
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    grid-gap: 24px;
}
.section-title{
    font-weight: 500;
    font-size: 45px;
}
#quick-list{
    
    color: lightslategray;
}
#features{
    font-weight: 700;
color: rgb(248, 147, 32);
}
.section-info{
    font-size: 16px;
}